{{#extends 'base'}}
{{#block 'content'}}
<form method="POST">
    <div>
        <label class="form-label">Cuisine Type</label>
        <input type="text" name="cuisineType" class="form-control"/>
    </div>
    <input type="submit" value="Create new" class="btn btn-primary mt-3"/>

</form>
{{/block}}
{{/extends}}