{{#extends 'base'}}

{{#block 'content'}}
<form method="POST">
    <div class="alert alert-danger">
        Are you sure you want to delete '{{cuisine.type}}'?
    </div>
    <input type="submit" class="btn btn-danger mt-3" value="Yes"/>
    <a href="/cuisine/all" class="btn btn-primary mt-3">No</a>
</form>

{{/block}}

{{/extends}}