{{#extends 'base'}}
{{#block 'content'}}
<h1>Editing {{cuisine.type}}</h1>
<form method="POST">
    <div>
        <label class="form-label">Cuisine name</label>
        <input type="text" name="cuisineName" class="form-control" value="{{cuisine.type}}"/>
    </div>
    <input type="submit" value="Update" class="btn btn-primary mt-3"/>
    <input type="submit" value="Back" class="btn btn-success mt-3"/>


</form>
{{/block}}
{{/extends}}